{% extends 'GestionStagiaires/base.html' %}

{% block title %}
    Resultat
{% endblock %}

{% block contenu %}
<br />
<div class="row">
   
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Message Envoyer Avec Success</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                {% for stg in ContactMessage_list %}
                    <h3>{{ stg.id}} {{ stg.nom }} {{ stg.Email }} {{ stg.msg }}</h3>
                    <a href="{% url 'GestionStagiaires:stagiaire_update' stg.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
